services:
  - type: web
    name: gang-boyz-ecommerce
    env: node
    buildCommand: npm ci && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production